body {
    background-color: black;
    color: yellow;
    text-align: center;
    text-size-adjust: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

    
h1, h2, h3 {
    font-family:'Times New Roman', Times, serif;
}




