body {
    background-color: black;
    color: yellow;
    text-align: center;
    text-size-adjust: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

    
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




