:root {
    --create-color: 113, 150, 253;
    --save-color: 220, 83, 119;
    --load-color: 40, 167, 69;
}

html, #root {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-image: url("../images/stars.jpg");
}

body, #root-container, #main-column {
    height: 100%;
}

.row {
    position: relative;
}

main {
    position: relative;
    z-index: 1;
}

.row > section {
    background-color: #353a3f;
    padding-bottom: 1em;
}

#left-panel, #right-panel {
    background-color: transparent !important;
    z-index: 2;
}

#children-panel, #create-panel, #info-panel {
    z-index: 4;
    min-width: 250px;
    transition: transform 0.25s ease-out;
    position: absolute;
    top: 0;
}

#children-panel {
    left: 0;
}

#create-panel {
    background-color: #39597a;
    z-index: 5;

    /* Temporary -- revert back to -100% once done testing */
    transform: translateX(-100%);
    /* transform: translateX(100%); */
}

#info-panel {
    right: 0;
}

#main-column {
    min-width: 60%;
}

.collapsed {
    display: none;
    width: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.toggle-button {
    position: absolute;
    top:0;
    z-index: 101;
    color: white;
}

.side-button {
    display: flex;
    position: absolute;
    top: 0;
    flex-grow: 0;
    max-width: 10em !important;
    flex-direction: column;
}

.side-button button {
    font-weight: bold;
    z-index: 4;
}

.side-button button a {
    color: unset;
    text-decoration: unset;
}

.button-left {
    left: 20%;
    align-items: flex-start;
}

.button-right {
    right: 20%;
    align-items: flex-end;
}

.title {
    font-size: 30px;
}

.header-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#info li {
    text-align: left;
}

.planet-data, .data-type, .landmark-data {
    border-radius: 3px;
    padding: 0.1em;
    margin-top: .25px;
}

.planet-data, .landmark-data {
    background-color: #4c6783;
    border-radius: 2px;
    margin-left: 0.3em;
}

.data-type {
    font-weight: bold;
}

.line, hr {
    width: 90%;
    border-top: 2px solid white;
    height: 1px;
    margin-top: .25em;
    margin-bottom: .25em;
    opacity: 1;
}

#main-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#top-navbar ul {
    display: flex;
    flex-direction: row;
}

@media (max-width: 745px) {
    #main-column, #top-navbar ul {
        flex-direction: column;
    }
}

.image {
    max-height: 500px;
    max-width: 500px;
}

#children-panel ul {
    list-style-type: none;
}

#children-panel ul li {
    position: relative;
    padding-left: 2em;
}

#children-panel ul li::before {
    content: "";
    position: absolute;
    height: 1.5em;
    top: 10%;
    left: 0;
    width: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
}

.star li::before, .system li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ed/OOjs_UI_icon_sun-ltr.svg');
}

.planet li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1d/Planet_with_rings_icon.svg');
    top: 20% !important;
}

.moon li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/OOjs_UI_icon_moon.svg');
    top: 10% !important;
}

.landmark li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1f/OOjs_UI_icon_mapPin-invert.svg');
}

.highlight {
    color: rgb(254, 218, 74);
}

.closebtn {
    background-color: black;
    border-radius: 5px;
    width: 2em !important;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    margin: 0 0.5em;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    position:absolute;
}

.closebtn.left {
    top: 0;
    left: 0;
}

.closebtn.right {
    top: 0;
    right: 0;
}

.closebtn a {
    text-decoration: none;
    color: white !important;
    display: flex;
    align-items: center;
}

.closebtn .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    width: 100px;
    height: 2em;
    top: 15%;
    left: 2em;
    opacity: 0;
    transition: opacity 0.3s;
}

.closebtn:hover .tooltip {
    opacity: 1;
}

#create {
    color: rgb(var(--create-color));
    border-color: rgb(var(--create-color));
}

#create:hover, #create.selected {
    color: white;
    background-color: rgb(var(--create-color));
    border-color: rgb(var(--create-color));
}

#save {
    color: rgb(var(--save-color));
    border-color: rgb(var(--save-color));
}

#save:hover, #save.selected {
    color: white;
    background-color: rgb(var(--save-color));
    border-color: rgb(var(--save-color));
}

#load {
    color: rgb(var(--load-color));
    border-color: rgb(var(--load-color));
}

#load:hover, #load.selected {
    color: white;
    background-color: rgb(var(--load-color));
    border-color: rgb(var(--load-color));
}


@media (max-width: 1250px) {
    #children-panel, #info-panel {
        z-index: 2;
        top: 3em;
        padding: 0;
    }

    .closebtn {
        position: absolute;
        top: 0;
    }

    .closebtn.right {
        right: 0;
    }

    .button-left {
        margin-left: 0;
    }

    .button-right {
        margin-right: 0;
    }

    .side-button button {
        left: 10%;
    }

    .scale-slider {
        top: 4.5em !important;
    }
}

#createForm input, #createForm select, #createForm label {
    width: 45% !important;
}

label {
    text-align: right;
    margin-right: 0.25em;
}

span.unit {
    margin-left: 0.25em;
    text-align: left;
}

#createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #193857;
    padding: 1em 0;
}

#inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}

select:disabled {
    background-color: #aaaaaa !important;
    border-color: #7f7f7f !important;
    color: #444444 !important;
}

.tab-selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #172838;
}

.tab-selector.system li {
    float: left;
    width: calc(100% / 3);
    cursor: pointer;
}

.tab-selector.galaxy li {
    float: left;
    width: calc(100% / 2);
    cursor: pointer;
}

.tab-selector li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
}

.tab-selector li a:hover, .tab-selector li a.selected {
    background-color: #193857;
    border-radius: 0.5em 0.5em 0 0;
}

.tab-selector .disabled {
    background-color: #181c20;
    border-radius: 0.5em 0.5em 0 0;
    color: grey;
    cursor: not-allowed;
}

.tab-selector .disabled:hover {
    background-color: #181c20;
}

#planet-selector option {
    text-transform: capitalize;
}

h2.systems-list, h2.landmarks-list {
    width: fit-content;
    padding-left: 2.5em;
    font-size: 1.25em;
    font-variant: small-caps;
    font-weight: bold;
}

ul.star li, ul.system li {
    z-index: 40;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 5px;
}

ul.star li:hover, ul.system li:hover {
    cursor: pointer !important;
    text-decoration: underline;
}

ul.star li.selected, ul.system li.selected {
    font-weight: bold;
    text-decoration: underline;
    background-color: #555d65;
    border-color: #555d65;
    box-shadow: 0px 0px 5px 1px #555d65 !important;
}

.galaxy-page-container {
    background-image: url('../images/galaxy.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  

.left-panel {
    position: fixed;
    top: 10;
    left: 0;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
  }
  
  .left-panel.open {
    width: 18%
  }
  
  .toggle-button {
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30;
    outline: #39597a;
    width: 4em !important;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    margin: 0 0.5em;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    position:absolute;
    top: 60px;
  }
  
  .toggle-button:hover {
    background-color:#39597a;
}
  .content {
    padding: 20px;
    color: white;
  }
  
  .right-panel {
    position: absolute;
    top: 4em;
    right: 10px;
    width: 200px;
    height: 250px; 
    background-color: #353a3f;
    border: none;
    border-radius: 5px;
    z-index: 1000;
  }

  .right-panel .content {
    padding: 20px;
    text-align: center;
  }
  
.save-button {
    position: absolute;
    font-weight: bold;
    font-size: 30;
    background-color: transparent;
    border-radius: 5px;
    width: 4em !important;
    height: 2em;
    top: 60px;
    left: 300px;   
}

.load-button {
    position: absolute;
    font-weight: bold;
    font-size: 30;
    background-color: transparent;
    border-radius: 5px;
    width: 4em !important;
    height: 2em;
    top: 60px; 
    right: 250px;
}

.discard {
    z-index: 1;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding-top: 0.5em;
    cursor: pointer;
}

.scale-slider {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    z-index:4;
    top: 0;
}

.scale-slider input {
    width: 100%;
}

.scale-slider label, .scale-slider p {
    width: fit-content;
    color: white;
    margin-bottom: 0;
}

.invert {
    filter: invert(1);
}