html {
    height: 100vh;
}

body {
    background-image: url("../images/stars.jpg");
}

body, #root-container, #main-column {
    height: 100%;
}

main {
    position: relative;
    z-index: 1;
}

section, .dark {
    background-color: #353a3f;
}

#left-panel, #right-panel {
    background-color: transparent !important;
    z-index: 100;
}

#left, #right {
    min-width: 250px;
    transition-duration: transform 1s;
}

#main-column {
    min-width: 60%;
}

@media (max-width: 1250px) {
    #left {
        transform: translateX(-250px);
    }
    #right {
        transform: translateX(250px);
    }
}

.collapsed {
    display: none;
    width: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.toggle-button {
    position: absolute;
    top:0;
    z-index: 101;
}

.side-button button {
    font-weight: bold;
}

#left-toggle {
    left: 0;
}

#right-toggle {
    right: 0;
}

.button-left {
    float: left;
    margin-left: 2%;
}

.button-right {
    float: right;
    margin-right: 2%;
}

.title {
    font-size: 30px;
}

.header-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#info li {
    text-align: left;
}

.planet-data, .data-type {
    border-radius: 3px;
    padding: 0.1em;
    margin-top: .25px;
}

.planet-data {
    background-color: #4c6783;
    border-radius: 2px;
}

.data-type {
    font-weight: bold;
}

.line {
    background-image: linear-gradient(to left, white, white);
    height: .5px;
    margin-top: .25em;
    margin-bottom: .25em;
}

#main-column {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#top-navbar ul {
    display: flex;
    flex-direction: row;
}

@media (max-width: 745px) {
    #main-column, #top-navbar ul {
        flex-direction: column;
    }
}

.image {
    min-height: 100%;
}

#left ul {
    list-style-type: none;
}

#left ul li {
    position: relative;
    padding-left: 2em;
}

#left ul li::before {
    content: "";
    position: absolute;
    height: 1.5em;
    top: 10%;
    left: 0;
    width: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
}

.star li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ed/OOjs_UI_icon_sun-ltr.svg');
}

.planet li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1d/Planet_with_rings_icon.svg');
    top: 20% !important;
}

.moon li::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/OOjs_UI_icon_moon.svg');
    top: 10% !important;
}

.highlight {
    color: rgb(254, 218, 74);
}